*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * .9);
  }
  
  body {
    margin: 0;
  }
  
  .select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    background: #fff;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }

  .select-box.hide{
    opacity: 0;
    pointer-events: none;
  }
  .select-box header{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
  }
  .select-box .title{
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
  }
  .select-box .options{
    display: flex;
    width: 100%;
  }
  
  .select-box .credit{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  .select-box .credit a{
    color: #56baed;
    text-decoration: none;
  }
  .select-box .credit a:hover{
    text-decoration: underline;
  }
  
  .board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
  }
  
  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid rgba(24, 142, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  /** ilk satır **/
  .cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
  }
  
  .cell:nth-child(3n + 1) {
    border-left: none;
  }
  
  .cell:nth-child(3n + 3) {
    border-right: none;
  }
  
  .cell:last-child,
  .cell:nth-child(8),
  .cell:nth-child(7) {
    border-bottom: none;
  }
  
  .cell.x,
  .cell.circle {
    cursor: not-allowed;
  }
  
  .cell.x::before,
  .cell.x::after,
  .cell.circle::before {
    background-color: rgb(24, 142, 211);
  }
  
  .board.x .cell:not(.x):not(.circle):hover::before,
  .board.x .cell:not(.x):not(.circle):hover::after,
  .board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(12, 41, 58);
  }
  
  .cell.x::before,
  .cell.x::after,
  .board.x .cell:not(.x):not(.circle):hover::before,
  .board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
  }
  
  .cell.x::before,
  .board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
  }
  
  .cell.x::after,
  .board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
  }
  
  .cell.circle::before,
  .cell.circle::after,
  .board.circle .cell:not(.x):not(.circle):hover::before,
  .board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  
  .cell.circle::before,
  .board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }
  
  .cell.circle::after,
  .board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
  }
  
  .win-msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 142, 211, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  
  .win-msg button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid rgba(7, 39, 58, 0.9);
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .win-msg button:hover {
    background-color: rgba(7, 39, 58, 0.9);
    color: white;
    border-color: white;
  }
  
  .win-msg.show {
    display: flex;
  }