<!DOCTYPE html>
<html lang="en">
{% include 'HEAD.html'%}

 
<body>
  <p id="result">Result</p>
  <div class="board" id="board">
    {% for i in range(25) %}
      {% if i in [0,1,5,6] %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="cell cell-red" data-cell></div>
      {% endif%}
      {% if i in [2,7,10,11,13,14,17,22] %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="cell cell-black" data-cell></div>
      {% endif%}
      {% if i in [3,4,8,9] %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="cell cell-yellow" data-cell></div>
      {% endif%}
      {% if i in [15,16,20,21] %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="cell cell-blue" data-cell></div>
      {% endif%}
      {% if i in [18,19,23,24] %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="cell cell-green" data-cell></div>
      {% endif%}
      {% if i in [12] %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="cell cell-center" data-cell></div>
      {% endif%}
    {% endfor %}
  </div>
  <div class="loader" id="timeout">
    <img src="/static/img/loading.gif" style=" height: auto; width: 200px;">
  </div>
  <div class="win-msg" id="winMessage">
    <div data-winMsgText></div>
    <button id="restartButton">{{button_val}}</button>
  </div>
</div>
</body>

{% include 'Footer.html'%}
</html>
