<!DOCTYPE html>
<html lang="en">
{% include 'HEAD.html' %}
{% include 'HEADER.html' %}

<body style="height: 120vh;">
  <div class="justify-content-center align-items-center">
    <div style="max-width: 100vh; margin: auto;">
    {% for i in range(25) %}
    {% if i == 0 or i == 5 or i == 10 or i == 15 or i == 20 %}
      <div class="flex m-0 p-0 justify-content-center grid">
        {% if i == 0 or i == 1 or i == 5 or i == 6 %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-danger r m-0 square">
          <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
          <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
        </div>
        {% elif i == 3 or i == 4 or i == 8 or i == 9 %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-success m-0 square">
          <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
          <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
        </div>
        {% elif i == 15 or i == 16 or i == 20 or i == 21 %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-warning m-0 square">
          <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
          <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
        </div>
        {% elif i == 19 or i == 18 or i == 23 or i == 24 %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-info m-0 square">
          <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
          <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
        </div>
        {% elif i == 12 %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-light m-0 square">
          <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
          <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
        </div>
        {% else %}
        <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-secondary m-0 square">
          <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
          <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
        </div>
        {% endif %}
    {% else %}
      {% if i == 0 or i == 1 or i == 5 or i == 6 %}
      <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-danger m-0 square">
        <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
        <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
      </div>
      {% elif i == 3 or i == 4 or i == 8 or i == 9 %}
      <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-success m-0 square">
        <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
        <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
      </div>
      {% elif i == 15 or i == 16 or i == 20 or i == 21 %}
      <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-warning m-0 square">
        <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
        <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
      </div>
      {% elif i == 19 or i == 18 or i == 23 or i == 24 %}
      <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-info m-0 square">
        <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
        <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
      </div>
      {% elif i == 12 %}
      <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-light m-0 square">
        <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
        <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
      </div>
      {% else %}
      <div onclick="updateBoard({{i}})" id="{{i}}" class="p-0 btn btn-secondary m-0 square">
        <img id="x{{i}}" style="display:none;" src="../static/img/X.png" alt="X Image">
        <img id="o{{i}}" style="display:none;" src="../static/img/O.png" alt="O Image">
      </div>
      {% endif %}
    {% endif %}
    {% if i == 4 or i == 9 or i == 14 or i == 19 or i == 24 %}
      </div>
    {% endif %}
    {% endfor %}
    
    <div class="justify-content-center row">
      <div class="col-10 card mt-2 row">
        You can adjust these settings every turn!
        <div class="col-6">
          Difficulty: <select id="difficultySelect" name="difficultySelect">
            <option value="1">Beginner</option>
            <option value="2">Advanced</option>
            <option value="3" selected>Aggressive</option>
          </select>
          <p>Minimal impact on thinking time, some impact on quality.</p>
        </div>

        <div class="col-6">
          Experience: <select id="depthSelect" name="depthSelect">
            <option value="1">Starter</option>
            <option value="2" selected>Experienced</option>
            <option value="3">Master</option>
            <option hidden value="4">Computer</option>
          </select>
          <p>Massive impact on thinking time, huge impact on quality.</p>
      </div>
      </div>

      <div class="col-2 card mt-2 text-center" id="result"></div>
    </div>
  </div>
  </div>
</body>

{% include 'FOOTER.html' %}

</html>