<!DOCTYPE html>
<html lang="en" style="height: 100vh;">
{% include 'HEAD.html' %}
{% include 'HEADER.html' %}

<body>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm6 content">
        <div class="container">
          <div class="row">
            {% for i in range(5) %}
            <div onclick="updateBoard({{i}})" id="{{i}}" class="col-2">{{i}}</div>
            {% endfor %}
          </div>
          <div class="row">
            {% for i in range(5,10,1) %}
            <div onclick="updateBoard({{i}})" id="{{i}}" class="col-2">{{i}}</div>
            {% endfor %}
          </div>
          <div class="row">
            {% for i in range(10,15,1) %}
            <div onclick="updateBoard({{i}})" id="{{i}}" class="col-2">{{i}}</div>
            {% endfor %}
          </div>
          <div class="row">
            {% for i in range(15,20,1) %}
            <div onclick="updateBoard({{i}})" id="{{i}}" class="col-2">{{i}}</div>
            {% endfor %}
          </div>
          <div class="row">
            {% for i in range(20,25,1) %}
            <div onclick="updateBoard({{i}})" id="{{i}}" class="col-2">{{i}}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <p id="result">Result</p>


  <div class="loader" id="timeout">
    <img src="/static/img/loading.gif" style=" height: auto; width: 200px;">
  </div>
  <div class="win-msg" id="winMessage">
    <div data-winMsgText></div>
    <button id="restartButton">{{button_val}}</button>
  </div>
</div>
</body>

{% include 'FOOTER.html' %}
</html>
